attrs==19.3.0
certifi==2019.11.28
chardet==3.0.4
docutils==0.16
get==2019.4.13
idna==2.9
importlib-metadata==1.5.0
lockfile==0.12.2
more-itertools==8.2.0
mysql-replication==0.21
packaging==20.1
pika==1.1.0
pluggy==0.13.1
post==2019.4.13
public==2019.4.13
py==1.8.1
PyMySQL==0.9.3
pyodbc==4.0.30
pyparsing==2.4.6
pytest==5.3.5
python-daemon==2.2.4
python-dotenv==0.11.0
query-string==2019.4.13
request==2019.4.13
requests==2.23.0
six==1.14.0
urllib3==1.26.5
wcwidth==0.1.8
zipp==3.0.0
